body {
    margin: 10px;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 20px; /* Adjusted margin */
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search-container input {
    width: 500px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    color: black;
    background: #d3d3d3;
}

.search-container select {
    width: 250px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    background: #333; /* Adjusted background color for better visibility */
}

.search-button {
    padding: 10px 200px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar {
    width: 85%;
    margin: 10px; /* Add margin for better spacing */
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}