/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  padding: 22px 0;

  &.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.10);
    padding: 15px 0;
    background: $white;
  }

  .logo {

    h1 {
      font-size: 32px;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-weight: 700;
      letter-spacing: 1px;
    }

    h1 a, h1 a:hover {
      color: $secondary;
      text-decoration: none;
    }

    img {
      padding: 0;
      margin: 0;
      max-height: 40px;
    }
  }

  @media (max-width: 768px) {
    background: $white;
    .logo h1 {
      font-size: 28px;
    }
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */
.nav-menu {

  &, * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }

  a {
    display: block;
    position: relative;
    color: lighten($secondary, 20);
    padding: 8px 0 12px 25px;
    transition: 0.3s;
    font-size: 14px; 
    font-family: $font-default;
  }

  a:hover, .active > a, li:hover > a {
    color: $primary;
    text-decoration: none;
  }

  .get-started a {
    background: $primary;
    color: $white;
    border-radius: 50px;
    margin: 0 0 0 30px;
    padding: 10px 25px;
    &:hover {
      background: lighten($primary, 8);
      color: $white;
    }
  }

  .drop-down ul {
    display: block;
    position: absolute;
    left: 25px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
    border-radius: 5px;
  }
  
  .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .drop-down li {
    min-width: 180px;
    position: relative;
  }

  .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: $secondary;
  }

  .drop-down ul a:hover, .drop-down ul .active > a, .drop-down ul li:hover > a {
    color: $primary;
  }
  
  .drop-down > a:after {
    content: "\ea99"; 
    font-family: IcoFont;
    padding-left: 5px;
  }

  .drop-down {

    .drop-down ul {
      top: 0;
      left: calc(100% - 30px);
    }

    .drop-down:hover > ul {
      opacity: 1;
      top: 0;
      left: 100%;
    }

    .drop-down > a {
      padding-right: 35px;
    }

    .drop-down > a:after {
      content: "\eaa0"; 
      font-family: IcoFont;
      position: absolute;
      right: 15px;
    }

  }
  
}

@media (max-width: 1366px) {
  .nav-menu .drop-down {

    .drop-down ul {
      left: -90%;
    }

    .drop-down:hover > ul {
      left: -100%;
    }

    .drop-down > a:after {
      content: "\ea9d"; 
    }
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  i {
    color: $secondary;
  }

}
$mobile_nav_spacing: 15px;

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;

  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    position: relative;
    color: $secondary;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }

  a:hover, .active > a, li:hover > a {
    color: $primary;
    text-decoration: none;
  }

  .get-started {
    text-align: center;
    margin-top: 10px;
    a {
      background: $primary;
      color: $white;
      border-radius: 50px;
      margin: 0 15px;
      padding: 10px 30px;
      display: inline-block;
      &:hover {
        background: lighten($primary, 8);
        color: $white;
      }
    }
  }

  .drop-down > a:after {
    content: "\ea99"; 
    font-family: IcoFont;
    padding-left: 10px; 
    position: absolute;
    right: 15px;
  }

  .active.drop-down > a:after {
    content: "\eaa1";
  }
  
  .drop-down > a {
    padding-right: 35px;
  }
  
  .drop-down ul {
    display: none;
    overflow: hidden;
  }

  .drop-down li {
    padding-left: 20px;
  }
}

.mobile-nav-overly {
  width:100%;
  height:100%;
  z-index:9997;
  top:0;
  left:0;
  position:fixed;
  background: rgba(darken($secondary, 10), 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;

  .mobile-nav {
    opacity: 1;
    visibility: visible;
  }

  .mobile-nav-toggle i {
    color: #fff;
  }
}
